@charset "EUC-KR";
h1{
	text-align : center;
}
img{
	position:absolute;
	width:200px;
	height:200px;
	top:150px;
	left:525px;
}
#a{
	position:relative;
	width:100px;
	height:100px;
}
p{
	font-size:25px;
	font-weight:bold;
}